@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'inscription";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquez ici pour confirmer le compte.</a>
</p>
<p>
   Ou bien, verifiez votre e-mail pour confirmer l'inscription.
</p>
    }
    else
    {
<p>
    S'il vous plaît, verifiez votre e-mail pour confirmer l'inscription.
</p>
    }
}
