@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de réinitialisation du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été réinitialisé avec succès. S'il vous plaît <a asp-page="./Login">cliquez ici pour vous identifier</a>.
</p>
