@model WebApplication1.Models.Direction

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier</h1>

<h4>Direction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumDirection" />
            <div class="form-group">
                <label asp-for="AncienNomDirection" class="control-label"></label>
                <input asp-for="AncienNomDirection" class="form-control" />
                <span asp-validation-for="AncienNomDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomDirection" class="control-label"></label>
                <input asp-for="NomDirection" class="form-control" />
                <span asp-validation-for="NomDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcronimeDirection" class="control-label"></label>
                <input asp-for="AcronimeDirection" class="form-control" />
                <span asp-validation-for="AcronimeDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retourner à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
